<div class='container mx-auto p-5 bg-white'>
  <div class='overflow-x-auto'>
    <table class='min-w-full table-fixed border-collapse'>
      <thead>
        <tr class='bg-gray-100'>
          <th
            class='max-w-10 min-w-5  px-2 py-2 text-left text-sm font-semibold'
          >
            ID
          </th>
          <th class='w-2/12  px-2 py-2 text-left text-sm font-semibold'>
            Tên sản phẩm
          </th>
          <th class='w-3/12  px-2 py-2 text-left text-sm font-semibold'>
            Mô tả sản phẩm
          </th>
          <th class='w-1/12  px-2 py-2 text-left text-sm font-semibold'>
            Giá sản phẩm
          </th>
          <th class='w-1/12  px-2 py-2 text-left text-sm font-semibold'>
            Số lượng sản phẩm
          </th>
          <th class='w-2/12  px-2 py-2 text-left text-sm font-semibold'>
            Tên danh mục
          </th>
          <th class='w-1/12  px-2 py-2 text-left text-sm font-semibold'>
            Image
          </th>
          <th class='w-1/12  px-2 py-2 text-left text-sm font-semibold'>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr class='even:bg-gray-50'>
            <td class='text-center py-2 text-sm truncate  max-w-10 min-w-5'>
              {{this.id}}
            </td>
            <td class='px-2 py-2 text-sm'>
              {{this.name}}
            </td>
            <td class='px-2 py-2 text-sm truncate max-w-[200px]'>
              {{this.description}}
            </td>
            <td class='px-2 py-2 text-sm text-red-600'>
              {{#if this.variants}}
                {{#if this.variants.length}}
                  {{formatCurrency (lookup (lookup this.variants 0) 'price')}}
                {{else}}
                  {{formatCurrency this.price}}
                {{/if}}
              {{else}}
                {{formatCurrency this.price}}
              {{/if}}
            </td>
            <td class='px-2 py-2 text-sm'>
              {{#if this.variants}}
                {{#if this.variants.length}}
                  {{lookup (lookup this.variants 0) 'stock'}}
                {{else}}
                  {{this.stock}}
                {{/if}}
              {{else}}
                {{this.stock}}
              {{/if}}
            </td>
            <td class='px-2 py-2 text-sm'>
              {{this.category_name}}
            </td>
            <td class='px-2 py-2 text-sm'>
              {{#if this.image_url}}
                <img
                  src="{{this.image_url}}"
                  alt="{{this.name}}"
                  class='w-1/2 h-auto rounded'
                />
              {{/if}}
            </td>
            <td class='px-2 py-2 text-sm whitespace-nowrap'>
              <div class='flex space-x-2'>
                <a
                  href="/admin/product/edit/{{this.id}}"
                  class='bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded text-xs'
                >
                  Edit
                </a>
                <button
                  type='button'
                  onclick="removeRow('/admin/product/destroy/{{this.id}}')"
                  class='bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded text-xs'
                >
                  Xóa
                </button>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> pagination}}
</div>