<div class='container mx-auto px-4'>
  <div class='overflow-x-auto'>
    <table class='min-w-full table-fixed border border-gray-200'>
      <thead class='bg-gray-100'>
        <tr>
          <th
            class='w-1/12 px-2 py-2 border border-gray-300 text-left text-sm font-semibold'
          >
            ID
          </th>
          <th
            class='w-2/12 px-2 py-2 border border-gray-300 text-left text-sm font-semibold'
          >
            Username
          </th>
          <th
            class='w-2/12 px-2 py-2 border border-gray-300 text-left text-sm font-semibold'
          >
            Tên sản phẩm
          </th>
          <th
            class='w-1/12 px-2 py-2 border border-gray-300 text-left text-sm font-semibold'
          >
            Đánh giá
          </th>
          <th
            class='w-4/12 px-2 py-2 border border-gray-300 text-left text-sm font-semibold'
          >
            Bình luận
          </th>
          <th
            class='w-2/12 px-2 py-2 border border-gray-300 text-left text-sm font-semibold'
          >
            Thời gian tạo
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each reviews}}
          <tr class='even:bg-gray-50'>
            <td
              class='px-2 py-2 border border-gray-300 text-sm truncate max-w-[100px]'
            >
              {{this._id}}
            </td>
            <td class='px-2 py-2 border border-gray-300 text-sm'>
              {{this.username}}
            </td>
            <td class='px-2 py-2 border border-gray-300 text-sm'>
              {{this.product}}
            </td>
            <td
              class='px-2 py-2 border border-gray-300 text-sm font-semibold text-yellow-600'
            >
              {{this.rating}}
            </td>
            <td
              class='px-2 py-2 border border-gray-300 text-sm truncate max-w-[300px]'
            >
              {{this.comment}}
            </td>
            <td class='px-2 py-2 border border-gray-300 text-sm'>
              {{formatDate this.created_at}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>