<div class='container mx-auto p-5 bg-white'>
  <div class='overflow-x-auto'>
    <table class='min-w-full table-fixed rounded-lg'>
      <thead class='bg-gray-100'>
        <tr>
          <th
            class='max-w-[4rem] w-20 px-2 py-2  text-left text-custom-xs font-semibold'
          >
            ID
          </th>
          <th class='w-2/12 px-2 py-2  text-left text-custom-xs font-semibold'>
            Username
          </th>
          <th class='w-2/12 px-2 py-2  text-left text-custom-xs font-semibold'>
            Tên sản phẩm
          </th>
          <th class='w-2/12 px-2 py-2  text-left text-custom-xs font-semibold'>
            Đánh giá
          </th>
          <th class='w-3/12 px-2 py-2  text-left text-custom-xs font-semibold'>
            Bình luận
          </th>
          <th class='w-2/12 px-2 py-2  text-left text-custom-xs font-semibold'>
            Thời gian tạo
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each reviews}}
          <tr class='even:bg-gray-50'>
            <td class='px-2 py-2 text-sm truncate max-w-[4rem] w-20'>
              {{this.id}}
            </td>
            <td class='px-2 py-2  text-sm'>
              {{this.username}}
            </td>
            <td class='px-2 py-2  text-sm'>
              {{this.product}}
            </td>
            <td class='px-2 py-2  text-sm font-semibold text-yellow-600'>
              {{this.rating}}
            </td>
            <td class='px-2 py-2  text-sm truncate max-w-[300px]'>
              {{this.comment}}
            </td>
            <td class='px-2 py-2  text-sm'>
              {{formatDate this.created_at}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>