<div class='flex justify-center mt-10'>
  <div class='w-full max-w-2xl bg-white shadow-md rounded-lg p-6'>
    {{#if messages.error}}
      <div class='bg-red-100 text-red-700 px-4 py-3 rounded mb-4'>
        {{messages.error}}
      </div>
    {{else if messages.success}}
      <div class='bg-green-100 text-green-700 px-4 py-3 rounded mb-4'>
        {{messages.success}}
      </div>
    {{/if}}

    <form method='post'>
      <div class='mb-4'>
        <label for='name' class='block text-gray-700 font-medium mb-2'>
          Tên danh mục
        </label>
        <input
          type='text'
          id='name'
          name='name'
          class='w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500'
          placeholder='Nhập tên danh mục'
          value="{{category.name}}"
        />
      </div>
      <div>
        <label
          for='upload'
          class='block text-sm font-medium text-gray-700 mb-1'
        >
          Hình ảnh
        </label>
        <input
          type='file'
          name='file'
          id='upload'
          class='w-full border rounded px-3 py-2 mb-2'
        />
        <div id='image_show' class='mb-2'>
          <a href="{{category.image_url}}" target='_blank'>
            <img src="{{category.image_url}}" class='w-24 h-auto' />
          </a>
        </div>
        <input
          type='hidden'
          name='image_url'
          id='thumb'
          value="{{category.image_url}}"
        />
      </div>

      <button
        type='submit'
        class='w-full bg-btn text-white py-2 rounded bg-custom-green-hover transition'
      >
        Sửa
      </button>
    </form>
  </div>
</div>