<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet">
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
	/>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" type="image/png" href="/img/logo.png">
	{{!-- <title>Document</title> --}}
</head>
<body>
	{{#if showLogin}}
		<div class="min-h-screen flex items-center justify-center bg-gray-100">
			{{{ body }}}
		</div>
	{{else if showAdmin}}
		<div class="flex w-full">
			<!-- Sidebar -->
			{{> sidebar }}

			<!-- Content Wrapper -->
			<div class="flex flex-col w-[calc(100%-250px)] ml-[250px] min-h-screen transition-all duration-300">
				<!-- Topbar -->
				<div class="pb-8 bg-[#F4F4F4] min-h-screen">
					{{> topbar }}
					{{{ body }}}
				</div>
			</div>
		</div>
	{{else}}
		<div class="app">
			{{> header }}
			<div class="container max-w-full bg-[#F4F4F4] pt-3 pb-8">
				{{{ body }}}
			</div>
			{{> footer }}
		</div>
	{{/if}}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/main.js"></script>
	<!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
</body>
</html>